* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    }

    img{
        max-width: 100%;
    }

    :root{
        --green: #1abc9c;
        --grey: #3a546d;
	    --dark-grey: #2c3e50;
    }

    ul {
        list-style-type: none;
        
    }

    .txt-decor{
        text-decoration: none;
        color: white;
    }

/* DEBUG BORDER */

    .ms__bg{
        border: red solid 1px;
        
    }

    .bg-green{
        background-color: var(--green);
    }

    .line-white{
        background-color: white;
        height: 5px;
        border-radius: 10px;
    }

    .line-grey{
        background-color: var(--grey);
        height: 5px;
        border-radius: 10px;
    }

    .avatar{
        max-width: 250px;
    }

    .border-white{
        border: white 1px solid;
        border-radius: 999px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }


    .ms__radius{
        border-radius: 10px;
    }
    .bgc-header{
        background-color: var(--dark-grey);
    }

    .bg1-footer{
        background-color: var(--grey);
    }

    .ms__padding{
        padding: 25px;
    }

/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { ... }